<div class="cta">
  <button><%= link_to "<span>#{I18n.t("header.signup")}</span>",I18n.t("header.signup_link") %></button>
  <!-- <button><%= link_to "<span>#{I18n.t("cta.quote")}</span>",I18n.t("cta.quoteLink") %></button> -->
</div>