<div class="pano_wrapper">
	<div class="pano"></div>
	<div class="welcome_screen">
		<h2><%= I18n.t("pano.welcome.title") %></h2>
		<p><%= I18n.t("pano.welcome.description") %></p>
		<a href="#" class="help"><%= I18n.t("pano.help") %></a>
	</div>
	<a href="#" class="help corner"><%= I18n.t("pano.help") %></a>
</div>